body {
  font-style: 12px;
  background-image: url(images/bg.png);
  text-align: center;
}

.gauche {
  float: left;
}

.droite {
  float: right;
}

.clear {
  clear: both;
}

.conteneur-photo {
  width: 1200px;
}

.description {
  /*width: 600px;*/
}

.texte-gauche {
  text-align: left;
}

.texte-droite {
  text-align: right;
}
